html {

    width: 100%;
    height: 100%;

}

.header {
    width: 100%;
    height: 200px;
    background-color: skyblue;

}

.navbar {
    width: 100%;
    height: 50px;
    background-color: burlywood;
    position: sticky;
    top: 0;

}

.box {

    padding: 10px;
    width: 50%;
    min-height: 500px;
    background-color: tomato;
    border: 5px solid black;

}

.footer {

    width: 100%;
    height: 50px;
    background-color: burlywood;

}